* {
    box-sizing: border-box;
}

body {
    background-color: brown;
    margin: 10px;
    background-image: url(../img/fondo3.png);
    background-repeat: repeat;
    background-size: 3%;
}

header {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    padding: 0 30px;
}

.imagenLogo {
    height: 100px;
    width: 150px;
    display: flex;
    justify-content: end;
    margin-top: 3px;
}

.imagenLogo img {
    border-radius: 70px;
    justify-content: center;
}

.op {
    width: 100%;
    margin-left: 190px;
    margin-top: 10px;
}

.ulHeader {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-items: center;
    width: 600px;
    height: 40px;
    margin: 30px;
    text-transform: uppercase;
}


.opciones {
    font-style: bold;
    background-color: brown;
    width: 50%;
    height: 40px;
    margin: 0px 10px;

}


.opciones a {
    color: white;
    display: flex;
    justify-content: center;
    margin: 8% 0px;
    text-decoration: none;


}

.barraBusqueda {
    margin: auto 20px;
    display: flex;
    justify-content: flex-end;
    width: 80%;

}

.btn {
    background-color: brown;
    color: white;
}

footer {
    background-color: white;

}

.flista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    font-weight: 300;
    text-transform: capitalize;
    color: brown;
    font-weight: 400;
}





.fotorep {
    width: 90%;
    align-self: center;
    margin: 5px 0px;
}

.titulorep {
    font-size: large;
    text-decoration: underline;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 1px;
    color: brown;
}

.parraforep {
    font-weight: normal;
    font-size: medium;
    margin: 5px;
}

.parraforepdos {
    font-weight: normal;
    font-size: medium;
    margin: 5px;
    text-align: center;
}

.comidaindex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articulorep {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 18%;
    height: 40%;
    border: 1px dotted brown;
    margin: 10px 0;
    background-color: white;


}


.linkrep {
    text-decoration: none;
    background-color: brown;
    display: flex;
    width: 30%;
    height: 20px;
    text-align: center;
    align-content: center;
    color: white;
    margin: 10px 0;
    font-size: medium;
    font-weight: normal;
    justify-content: center;

}

.linkrepdos {
    text-decoration: none;
    background-color: brown;
    display: flex;
    width: 30%;
    height: 20px;
    text-align: center;
    align-content: center;
    color: white;
    margin: 10px 0;
    font-size: medium;
    font-weight: normal;
    justify-content: center;
}

.nombre {
    font-size: xx-large;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 10px;
    color: brown;
}

.comidaDetalle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.contenido {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.receta {
    width: 70%;
    height: 40%;
    border: 1px dotted brown;
    margin: 10px 0;
    background-color: white;
    padding: 8px;
}

.cinco {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    align-items: center;
}

.imagereceta {
    width: 90%;
    height: auto;
    align-self: center;
    margin: 5px 0px;
    border: 1px double brown;
}

.image {
    width: 50%;
    align-self: center;
    margin: 5px 0px;
    border: 1px double brown;

}

.recetados {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
    height: 40%;
    border: 2px dotted brown;
    margin: 10px 0;
    background-color: white;
    padding: 6px;
    align-items: center;
}

.search-results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.tagdos a {
    color: black;
    text-decoration: none;
}

.art a {
    color: black;
    text-decoration: none;
    font-size: large;
}

.art {
    text-decoration: none;
    background-color: white;
    display: flex;
    width: 15%;
    height: 30px;
    text-align: center;
    align-content: center;
    color: white;
    padding-top: 5px;
    margin: 15px;
    font-size: medium;
    font-weight: normal;
    justify-content: center;
}

.categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10%;
}

.nombredos {
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 1px;
    color: white;
    font-size: xx-large;
}

.font {
    font-size: large;
}


/* log in css */

.titulologin {
    display: flex;
    text-transform: uppercase;
    align-self: center;
    color: white;
    font-size: xx-large;
}

.logIn-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.hola {
    padding: 10px;
    margin: 10px;
    height: 50px;
}

.noTenerCuenta {
    text-decoration: none;
    color: white;
}


/*register*/
.registro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    color: white;


}

.registro h1 {
    display: flex;
    text-transform: uppercase;
    align-self: center;
    color: white;
}

.tamaño {
    width: 50%;
    margin-top: 20px;
    display: flex;
    text-align: left;
    background-color: rgba(128, 128, 128, 0.253);
    padding: 5%;
    justify-content: center;


}




.espacio {
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.titu {
    color: white;
    margin: 5px;
}

.email {
    padding: 5px 35px;
}

.contra {
    padding: 5px 35px;
}

.coso {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.relog {
    text-decoration: none;
    color: white;
    margin-top: 10px;
}

.buscarmas {
    color: brown;
    width: 100px;
    border: 4px brown solid;
    display: flex;
    justify-self: center;
    font-weight: bolder;

}

/* media de INDEX.HTML*/

@media (max-width: 420px) {

    /* media del home*/
    body {
        max-width: 420px;
        display: flex;
        margin: 0px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .comidaindex {
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
    }

    .articulorep {
        width: 60%;
        display: flex;
        align-self: center;
        justify-content: center;
        box-sizing: border-box;
    }

    /* media del header*/
    header {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        height: 350px;
        flex-wrap: wrap;
    }

    .op {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
        height: 120px;
    }

    .ulHeader {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .opciones {
        width: 50%;
        height: 20px;
        margin: 5px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: medium;
    }
.opciones a {
    display: flex;
    width: 100%;
}
.barraBusqueda {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width:200px;
    height: 20px;
    align-items: center;
    justify-content: flex-start;
    


}
.formbusca{
    padding: 0%;
    margin-bottom: 40%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    height: 20px;
}
   

.search {
        width: 100%;
        display: flex;
        height: 20px;
        justify-self: center;
        margin-bottom: 10px;
        flex-wrap: wrap;
    }

    .barraBusqueda .btn {
        width: 30%;
        display: flex;

        justify-self: center;
        flex-wrap: wrap;
    }

    .imagenLogo img {
        height: auto;
        width: 70%;
    }

    .imagenLogo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        margin: 3px 0;
    }


    /* media del footer */
    footer {
        background-color: white;
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center;
    }

    .flista {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        list-style-type: none;
        font-weight: 300;
        text-transform: capitalize;
        color: brown;
        font-weight: 400;
        flex-direction: column;
        align-items: center;
    }




    /* media de log in */
    .repes {
        display: flex;
        width: 100%;
        max-width: 420px;

    }

    .logIn-form {
        width: 420px;
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        box-sizing: border-box;

    }

    .tamaño {
        display: flex;
        width: 420px;
        

    }

    .bro {
        display: flex;
        flex-wrap: wrap;
    }

    .titulologin {
        margin-bottom: 20px;
    }

    .espacio {
        margin-bottom: 15px;
    }

    .contra .email {
        width: 100%;
        padding: 10px;

    }

    .btn .hola {
        width: 100%;
        padding: 10px;

    }

    /* media de registro */
    .registro {
        width: 420px;
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        box-sizing: border-box;   
    }
    .mensajeError{
       display: flex;
       flex-direction: row;
       height: 20px;
        margin-bottom: 50px;
        align-self: center;
       background-color: white;
       color:brown;
       
    
    }
    .A-mensaje{
        display: flex;
        flex-direction: column;
    }
    .divMensaje{
        display: flex;
        
    }

    /* media de categorias */

    .categories {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }

    .categories .art {
        width: 50%;

    }

    

}